{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        metosin/malli {:mvn/version "0.19.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.981"}
        org.postgresql/postgresql {:mvn/version "42.7.8"}
        io.grpc/grpc-netty-shaded {:mvn/version "1.63.0"}
        io.grpc/grpc-stub {:mvn/version "1.63.0"}
        io.grpc/grpc-protobuf {:mvn/version "1.63.0"}
        com.google.protobuf/protobuf-java-util {:mvn/version "3.25.1"}}
 :aliases
 {:contracts
  {:main-opts ["-m" "semidx.contracts.cli"]}
  :runtime
  {:main-opts ["-m" "semidx.runtime.cli"]}
  :ccc
  {:main-opts ["-m" "semidx.runtime.compression-cli"]}
  :mcp
  {:main-opts ["-m" "semidx.mcp.server"]}
  :mcp-http
  {:main-opts ["-m" "semidx.mcp.http-server"]}
  :runtime-http
  {:main-opts ["-m" "semidx.runtime.http"]}
  :runtime-grpc
  {:main-opts ["-m" "semidx.runtime.grpc"]}
  :eval
  {:main-opts ["-m" "semidx.runtime.evaluation"]}
  :bench
  {:main-opts ["-m" "semidx.runtime.benchmarks"]}
  :test
  {:extra-paths ["test"]
   :main-opts ["-m" "semidx.test-runner"]}}}
